body {
 
}

/* sets the centering and background color of the main div */
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  color: black;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* sets the centering and background color and min and max width and border for the front div */
.front{
  display: flex;
  align-items: center;
  background-color: white;
  max-width: 800px;
  min-width: 400px;
  flex-direction: column;
  border: 8px solid black;
  border-radius: 50px;
}

/* sets the centering and background color and text color and min and max width and border for the heading div */
.tracker {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  max-width: 800px;
  min-width: 100%;
  border-radius: 40px 40px 0 0;
}

/* styles margin and padding for the dropdown menu */
.dropdn  
{  
margin-left: 250px;  
margin-top: 20px;  
margin-right: 250px;  
padding: 30px;  
}  
.slct  
{  
margin-top: 20px;  
} 

/* sets border and padding for the searchbar div */
.searchDiv {
  border: 8px solid black;
  border-radius: 50px;
  padding: 30px;
}

/* sets margin padding and min and max width for the header photo */
.headerPhoto {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 400px;
    display: flex;
    border-bottom: 8px solid black;
  }

/* sets width, font weight and alignment for input fiels */
.input {
  width: 200px;
  margin: 10px;
  font-weight: bold;
  float: left;
}

/* sets width, font weight and alignment for input labels */
.label {
  float: left;
  padding: 5px;
  width: 150px;
  font-weight: bold;
}

/* sets the margin paddin and list style type for lists */
ul, li {
  margin: 10px;
  padding: 5px;
  list-style-type: none;
}

/* sets centering and min and max width for the menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  min-width: 400px;
}

/* sets the centering and margin and background color and min and max width for the main div */
.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  max-width: 800px;
  min-width: 400px;
}

/* Sets centering and margins for button div */
.buttonDiv {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* sets the centering and margin and background color and min and max width for the search div */
.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  background-color: white;
  width: 340px;
}

/* styles the background color text color padding margin border font weight and size and transition of the buttons */
Button {
  background-color: black;
  color: white;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  border-radius: 50px;
  transition-duration: 0.4s;
  border: 2px solid white;
  font-weight: bold;
  font-size: 20px;
}

/* sets the background color and text color and border on buttons when hovered */
Button:hover {
  background-color: white; /* Green */
  color: black;
  border: 2px solid black;
}

/* sets the background color text color padding margin and border and font size and transition of buttons on friend list page */
.buttonRead {
  background-color: black;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 50px;
  transition-duration: 0.4s;
  border: 2px solid white;
  font-size: 10px;
}

/* sets background color and text color and border on buttons on friend list page when hovered */
.buttonRead:hover {
  background-color: white; /* Green */
  color: black;
  border: 2px solid black;
}

/* sets background color text color and padding and margin and border and font size and transition for update page buttons */
.buttonUpdate {
  background-color: black;
  color: white;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  border-radius: 50px;
  transition-duration: 0.4s;
  border: 2px solid white;
  font-size: 15px;
}

/* sets background color text color and border for update page buttons when hovered */
.buttonUpdate:hover {
  background-color: white; /* Green */
  color: black;
  border: 2px solid black;
}

/* sets the centering and background color and min and max width for the create object forms */
create-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  max-width: 800px;
  min-width: 400px;
}

/* sets the display and margin and text color for the spans */
span {
  display: flex;
  color: black;
  margin: 5px;
}

/* sets the centering for td */
td {
  display: center;
  justify-content: center;
  align-items: center;
}

/* sets table width to 100% */
table {
  width: 100%;
}

/* sets the input width to 100% */
input {
  width: 100%;
}

.AppModal {
  width: 90%;
  padding: 50px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* styling of the modal window */
.modal {
  position: fixed;
  z-index: 20;
  background: #fff;
  width: 500px;
  /* Centers the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* styling background color and font color padding and placement */
.modalHeader {
  background: black;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

/* padding for modal */
.modalMain {
  padding: 20px;
}

/* Styling of the close button */
.close-button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
}

/* styling the color of the close button when hovered */
.close-button:hover {
  color: black;
}

/* styling the button for t he modal */
.buttonModal {
  background: black;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;

}

/* styling the button when hovered on the modal */
.buttonModal:hover {
  background: orange;
}

/* styling border as none on the modal */
.searchModal {
border: none;
}